* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: #666; }

.main {
  height: 100%;
  display: flex; }

.songs-wrap {
  width: 300px;
  border-right: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column; }
  .songs-wrap .songs-filter {
    height: 32px;
    background-color: #F7F5F5;
    border-bottom: 1px solid #dfdfdf; }
    .songs-wrap .songs-filter input {
      height: 100%;
      width: calc(100% - 32px);
      padding: 0 16px;
      margin: 0;
      border: none;
      background-color: transparent;
      line-height: 32px;
      font-size: 13px;
      color: #666; }
    .songs-wrap .songs-filter button {
      height: 32px;
      width: 32px;
      font-size: 24px;
      color: #666; }
  .songs-wrap .songs-list {
    flex: 1;
    overflow: auto; }
    .songs-wrap .songs-list .song {
      padding: 8px 16px;
      cursor: pointer;
      border-bottom: 1px solid #dfdfdf; }
      .songs-wrap .songs-list .song:hover {
        background-color: #dfdfdf; }
      .songs-wrap .songs-list .song.selected {
        color: white;
        background-color: #ff8000; }
      .songs-wrap .songs-list .song.inactive {
        font-style: italic;
        color: #aaaaaa; }
      .songs-wrap .songs-list .song.inactive.selected {
        color: #dddddd; }

.details-wrap {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .details-wrap .details {
    display: flex;
    flex: 1; }
    .details-wrap .details .metadata {
      position: relative;
      width: 300px;
      background-color: #F7F5F5;
      border-right: 1px solid #dfdfdf;
      padding: 16px; }
    .details-wrap .details .lyrics {
      position: relative;
      flex: 1;
      overflow: hidden; }
      .details-wrap .details .lyrics textarea {
        margin: 0;
        padding: 16px;
        font-size: 16px;
        font-family: 'Consolas', monospace;
        border: 0;
        resize: none;
        width: 100%;
        height: 100%; }
    .details-wrap .details button {
      height: 24px;
      margin: 0;
      padding: 0 12px;
      position: absolute;
      bottom: 16px;
      right: 16px; }
  .details-wrap .footer {
    height: 24px;
    line-height: 24px;
    border-top: 1px solid #dfdfdf;
    font-size: 13px;
    padding: 0 16px;
    background-color: #F7F5F5; }
    .details-wrap .footer.red {
      color: red; }

.form p {
  margin: 0 0 10px;
  line-height: 24px;
  position: relative; }
.form .input {
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 3px 5px;
  margin: 0;
  height: 24px;
  outline: none;
  width: 100%; }
.form input[type="checkbox"] {
  width: 20px;
  height: 20px; }
.form .label, .form .widget {
  display: block;
  height: 24px; }

.window-overlay {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.window-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 70px 20px; }

.window {
  margin: 0 auto;
  max-width: 332px;
  background-color: #F7F5F5;
  box-shadow: 0 1px 4px #777;
  position: relative;
  height: 200px; }
  .window .body {
    padding: 16px; }
  .window button {
    height: 24px;
    margin: 0;
    padding: 0 12px; }

.window-x {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 20px; }

.window-title {
  padding: 0 16px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  background-color: #e0d9d9; }

/*# sourceMappingURL=editor.css.map */
