@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf); }
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 16px; }

b {
  font-family: fontBold; }

.main {
  height: 100%; }

.sec-setlist {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .sec-setlist .header {
    height: 64px;
    display: flex;
    background-color: white;
    z-index: 1; }
    .sec-setlist .header .popover-trigger {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #777;
      font-size: 24px;
      font-weight: bold;
      color: white; }
      .sec-setlist .header .popover-trigger.active {
        background-color: #ff8000; }
    .sec-setlist .header .title-wrap {
      flex: 1;
      display: flex;
      flex-direction: column; }
      .sec-setlist .header .title-wrap .title-setlist {
        height: 26px;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center; }
      .sec-setlist .header .title-wrap .title-song {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px; }
  .sec-setlist .song-content {
    padding-top: 10px;
    padding-bottom: 30px;
    flex: 1;
    padding-left: 55px;
    overflow: auto; }
    .sec-setlist .song-content .p {
      line-height: 1.2; }
    .sec-setlist .song-content .tab {
      padding-left: 24px; }
    .sec-setlist .song-content .star {
      color: #888;
      font-weight: normal !important; }
  .sec-setlist .font-sizer {
    position: absolute;
    bottom: 70px;
    margin-bottom: 10px;
    left: 0;
    height: 120px;
    width: 50px;
    display: flex;
    flex-direction: column; }
    .sec-setlist .font-sizer .button {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
      font-size: 34px;
      font-weight: bold; }
      .sec-setlist .font-sizer .button.active {
        background-color: #ff8000;
        color: white; }
    .sec-setlist .font-sizer .divider {
      height: 2px; }
  .sec-setlist .font-bolder, .sec-setlist .theme-toggle {
    position: absolute;
    bottom: calc(70px + 120px + 20px);
    left: 0;
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    font-size: 34px;
    font-weight: bold; }
    .sec-setlist .font-bolder.active, .sec-setlist .theme-toggle.active {
      background-color: #ff8000;
      color: white; }
    .sec-setlist .font-bolder.selected, .sec-setlist .theme-toggle.selected {
      background-color: #777;
      color: white; }
  .sec-setlist .theme-toggle {
    bottom: calc(70px + 120px + 60px + 30px); }
  .sec-setlist .footer {
    height: 70px;
    background-color: white;
    z-index: 1;
    display: flex; }
    .sec-setlist .footer .song-nav {
      flex: 1;
      display: flex;
      background-color: #ddd; }
      .sec-setlist .footer .song-nav.active {
        background-color: #ff8000;
        color: white; }
      .sec-setlist .footer .song-nav .song-nav-title {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px; }
      .sec-setlist .footer .song-nav .song-nav-arrow {
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px; }
    .sec-setlist .footer .divider {
      width: 6px; }
  .sec-setlist .overlist-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .sec-setlist .overlist-wrap .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 2; }
    .sec-setlist .overlist-wrap .list {
      position: absolute;
      top: 0;
      width: 60%;
      height: 100%;
      overflow: auto;
      background-color: #ddd;
      z-index: 3; }
      .sec-setlist .overlist-wrap .list.setlists {
        left: 0; }
      .sec-setlist .overlist-wrap .list.songs {
        right: 0; }
      .sec-setlist .overlist-wrap .list .item {
        font-size: 20px;
        padding: 20px 16px;
        margin-bottom: 1px;
        background-color: white; }
        .sec-setlist .overlist-wrap .list .item.selected {
          background-color: #ff8000;
          color: white; }
        .sec-setlist .overlist-wrap .list .item.no-lyrics {
          color: red; }
        .sec-setlist .overlist-wrap .list .item .item-date {
          font-size: 16px;
          color: #888888; }
  .sec-setlist.dark .title-setlist,
  .sec-setlist.dark .song-nav,
  .sec-setlist.dark .font-sizer .button,
  .sec-setlist.dark .font-bolder,
  .sec-setlist.dark .theme-toggle {
    background-color: #333 !important; }
    .sec-setlist.dark .title-setlist.active,
    .sec-setlist.dark .song-nav.active,
    .sec-setlist.dark .font-sizer .button.active,
    .sec-setlist.dark .font-bolder.active,
    .sec-setlist.dark .theme-toggle.active {
      background-color: #ff8000 !important; }
  .sec-setlist.dark .popover-trigger,
  .sec-setlist.dark .list {
    background-color: #222 !important; }
    .sec-setlist.dark .popover-trigger.active,
    .sec-setlist.dark .list.active {
      background-color: #ff8000 !important; }
  .sec-setlist.dark .song-content,
  .sec-setlist.dark .footer,
  .sec-setlist.dark .title-song,
  .sec-setlist.dark .list .item {
    background-color: #444 !important; }
  .sec-setlist.dark .song-content,
  .sec-setlist.dark .title-song,
  .sec-setlist.dark .popover-trigger,
  .sec-setlist.dark .title-setlist,
  .sec-setlist.dark .song-nav,
  .sec-setlist.dark .font-sizer .button,
  .sec-setlist.dark .font-bolder,
  .sec-setlist.dark .theme-toggle,
  .sec-setlist.dark .list .item {
    color: #e8e8e8 !important; }
    .sec-setlist.dark .song-content.active,
    .sec-setlist.dark .title-song.active,
    .sec-setlist.dark .popover-trigger.active,
    .sec-setlist.dark .title-setlist.active,
    .sec-setlist.dark .song-nav.active,
    .sec-setlist.dark .font-sizer .button.active,
    .sec-setlist.dark .font-bolder.active,
    .sec-setlist.dark .theme-toggle.active,
    .sec-setlist.dark .list .item.active {
      background-color: #ff8000 !important; }
  .sec-setlist.dark .star {
    color: #d97700 !important; }
  .sec-setlist.dark .font-bolder.selected,
  .sec-setlist.dark .theme-toggle.selected {
    color: #ff8000 !important; }
  .sec-setlist.dark .list .item.selected {
    background-color: #ff8000 !important; }
    .sec-setlist.dark .list .item.selected .item-title, .sec-setlist.dark .list .item.selected .item-date {
      color: white !important; }
  .sec-setlist.dark .list .item.no-lyrics {
    color: red !important; }

@media only screen and (max-width: 600px) {
  .sec-setlist .header .popover-trigger {
    font-size: 18px; }

  .sec-setlist .overlist-wrap .list .item {
    font-size: 16px; }

  .sec-setlist .header .title-wrap .title-setlist {
    font-size: 13px;
    white-space: nowrap; }

  .sec-setlist .header .title-wrap .title-song {
    white-space: nowrap;
    font-size: 18px; }

  .sec-setlist .footer .song-nav .song-nav-title {
    font-size: 18px; }

  .sec-setlist .font-bolder {
    font-size: 28px; } }

/*# sourceMappingURL=style.css.map */
