<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NT Lyrics Editor</title>
</head>
<body ng-app="app">

<div class="main" ntle-main>

  <div class="songs-wrap">
    <div class="songs-filter">
      <input type="text" placeholder="filter..." ng-model="songsFilter"><button ng-click="openNewSongWindow()" ng-disabled="inProgress">+</button>
    </div>
    <div class="songs-list">
      <div class="song"
           ng-repeat="song in (filteredSongs = (songs | filter:songsFilter))"
           ng-class="{ selected: $parent.selectedSong.id === song.id, inactive: !song.active }"
           ng-bind="song.name"
           ng-click="selectSong(song)"></div>
    </div>
  </div>




  <div class="details-wrap">
    <div class="details">
      <div class="metadata form">
        <p>
          <span class="label">Naziv:</span>
          <span class="widget">
            <input type="text" class="input" ng-model="editSongModel.name" ng-keypress="createNameAlt(editSongModel, $event)" ng-disabled="!editSongModel"/>
          </span>
        </p>
        <p>
          <span class="label">Naziv ALT:</span>
          <span class="widget">
            <input type="text" class="input" ng-model="editSongModel.nameAlt" ng-disabled="!editSongModel"/>
          </span>
        </p>
        <p>
          <span class="label">Aktivna:</span>
          <span class="widget">
            <input type="checkbox" class="input" ng-model="editSongModel.active" ng-disabled="!editSongModel"/>
          </span>
        </p>
        <p>
          <span class="label">Id:</span>
          <span class="widget">
            <input type="text" class="input" readonly style="font-size: 12px" ng-model="editSongModel.id" ng-disabled="!editSongModel"/>
          </span>
        </p>

        <button ng-click="saveSongMetadata()" ng-disabled="!selectedSong || inProgress">Sačuvaj podatke</button>
      </div>
      <div class="lyrics">
        <textarea ng-model="selectedSongLyrics" ng-disabled="!editSongModel"></textarea>
        <button ng-click="saveLyrics()" ng-disabled="!selectedSong || inProgress">Sačuvaj tekst</button>
      </div>
    </div>
    <div class="footer" ng-bind="footerMessage" ng-class="footerClass"></div>
  </div>





  <div class="window-overlay" ng-style="{ display: showNewSongWindow ? 'block' : 'none' }">
    <div class="window-wrap">
      <div class="window">
        <div class="window-x clickable-c" ng-click="showNewSongWindow = false">x</div>
        <div class="window-title">Nova pesma</div>
        <div class="body form">
          <p>
            <span class="label">Naziv:</span>
            <span class="widget">
              <input type="text" class="input" ng-model="newSongModel.name" ng-keypress="createNameAlt(newSongModel, $event)"/>
            </span>
          </p>
          <p>
            <span class="label">Naziv ALT:</span>
            <span class="widget">
              <input type="text" class="input" ng-model="newSongModel.nameAlt"/>
            </span>
          </p>
          <p style="text-align: right">
            <button ng-click="saveNewSong()" ng-disabled="!newSongModel.name || !newSongModel.nameAlt || inProgress">Sačuvaj</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<link href="editor/editor.css" rel="stylesheet">

<script src="lib/lodash.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/angular.js"></script>

<script src="editor/editor.js"></script>
</body>
</html>
