<section class="sec-setlist">
  <div class="header">
    <div class="popover-trigger setlist-list" ng-tap="isSetlistsListOpen = true">LISTE</div>
    <div class="title-wrap">
      <div class="title-setlist" ng-bind="selectedSetlist.name"></div>
      <div class="title-song" ng-bind="(selectedSongIndex+1) + '. ' + selectedSong.name"></div>
    </div>
    <div class="popover-trigger songs-list" ng-tap="isSongsListOpen = true">PESME</div>
  </div>
  <div class="song-content"></div>
  <div class="footer">
    <div class="song-nav prev"
         ng-tap="selectPrevSong()"
         ng-style="{ visibility: songs[selectedSongIndex-1] ? 'visible' : 'hidden' }">
      <div class="song-nav-arrow">&#9664;</div>
      <div class="song-nav-title" ng-bind="selectedSongIndex + '. ' + songs[selectedSongIndex-1].name"></div>
    </div>
    <div class="divider"></div>
    <div class="song-nav next"
         ng-tap="selectNextSong()"
         ng-style="{ visibility: songs[selectedSongIndex+1] ? 'visible' : 'hidden' }">
      <div class="song-nav-title" ng-bind="(selectedSongIndex+2) + '. ' + songs[selectedSongIndex+1].name"></div>
      <div class="song-nav-arrow">&#9654;</div>
    </div>
  </div>
  <div class="font-sizer">
    <div class="button" ng-tap="changeFontSize(1)">+</div>
    <div class="divider"></div>
    <div class="button" ng-tap="changeFontSize(-1)">-</div>
  </div>

  <div class="overlist-wrap" ng-show="isSetlistsListOpen">
    <div class="overlay" ng-tap="isSetlistsListOpen = false"></div>
    <div class="list setlists">
      <div class="item"
           ng-repeat="setlist in setlists"
           ng-bind="setlist.name"
           ng-class="{ selected: selectedSetlist === setlist }"
           ng-tap="selectSetlist(setlist)"></div>
    </div>
  </div>

  <div class="overlist-wrap" ng-show="isSongsListOpen">
    <div class="overlay" ng-tap="isSongsListOpen = false"></div>
    <div class="list songs">
      <div class="item"
           ng-repeat="song in songs"
           ng-bind="($index+1) + '. ' + song.name"
           ng-class="{ selected: selectedSong === song, 'no-lyrics': !hasSongLyrics(song) }"
           ng-tap="selectSong(song, $index)"></div>
    </div>
  </div>
</section>